@page "/{*slug}"
@inject IMarkdownContentService<DocFrontMatter> ContentService
@layout MainLayout

@if (Content != null)
{
    <PageTitle>@Content.FrontMatter.Title - MonorailCss</PageTitle>

    <DocContent Title="@Content.FrontMatter.Title"
                Description="@Content.FrontMatter.Description"
                HtmlContent="@HtmlContent"
                Outline="@Outline"
                BreadcrumbItems="@BreadcrumbItems" />
}
else
{
    <p>Not found</p>
}

@code {
    [Parameter]
    public string? Slug { get; set; }

    private MarkdownContentPage<DocFrontMatter>? Content { get; set; }
    private string HtmlContent { get; set; } = string.Empty;
    private OutlineEntry[]? Outline { get; set; }
    private List<Breadcrumbs.BreadcrumbItem>? BreadcrumbItems { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(Slug))
        {
            var result = await ContentService.GetRenderedContentPageByUrlOrDefault($"/{Slug}");
            Content = result?.Page;
            HtmlContent = result?.HtmlContent ?? string.Empty;
            Outline = result?.Page.Outline;

            // Generate breadcrumbs
            if (Content != null)
            {
                BreadcrumbItems =
                [
                    new Breadcrumbs.BreadcrumbItem { Title = "Home", Url = "/", IsCurrent = false },
                    new Breadcrumbs.BreadcrumbItem { Title = Content.FrontMatter.Title, Url = null, IsCurrent = true },
                ];
            }
        }
    }
}
